/* General Resets */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Global Styles */
html,
body {
  width: 100%;
  min-height: 100%;
  font-family: "Open Sans", sans-serif;
  background-color: #f4f7f6;
  color: #333;
  line-height: 1.6;
  overflow-y: scroll; /* Always show vertical scrollbar */
}

/* Container Styles */
.container {
  width: 70%; /* Adjusted to 70% for large/x-large screens */
  margin: auto;
  max-width: 1200px;
  text-align: center; /* Centering the container */
}

/* Text Center Styles */
.text-center {
  text-align: center;
}

/* Navbar Styles */
.navbar {
  background-color: #ffffff;
  border-bottom: 1px solid #dddddd;
  padding: 1rem;
}

.navbar-brand {
  font-size: 1.5rem;
  color: #004a94;
  cursor: pointer;
}

/* Navigation Styles */
.nav-item {
  padding: 0.5rem 1rem;
}

.nav-link {
  color: #5c5c5c;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #333;
}

/* Main Content Styles */
.main-content {
  flex: 1;
  padding: 2rem 0;
}

/* Footer Styles */
.footer {
  background-color: #1e90ff;
  color: #ffffff;
  text-align: center;
  padding: 1rem 0;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer p {
  margin: 0;
  font-size: 0.9rem;
}

.form-label {
  margin: 0.5rem 0;
}

/* Table Styles */
.table {
  width: 90%; /* Adjusted to 70% for large/x-large screens */
  margin: auto; /* Centering the table horizontally */
  border-collapse: collapse;
  table-layout: fixed; /* Prevent table from resizing columns */
}

@media (max-width: 768px) {
  /* Adjust table width for small screens */
  .table {
    width: 90%;
  }
}

.table thead {
  background-color: #cb1eff;
  color: #ffffff;
}

.table th,
.table td {
  padding: 0.5rem;
  border: 1px solid #dddddd;
  vertical-align: middle;
  text-align: center;
  white-space: wrap;
}

/* Custom Checkbox Styles */
.checkbox-column,
.due-date-column {
  width: 10% !important;
  text-align: center;
}

.table .form-check-input {
  cursor: pointer;
  width: 20px;
  height: 20px;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  vertical-align: middle;
}

/* Button Styles */
.btn {
  background-color: #871eff;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  cursor: pointer;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #c50dfd;
}

.btn-outline-secondary {
  background-color: transparent;
  color: #333;
  border: 1px solid #bf1eff;
}

.btn-outline-secondary:hover {
  background-color: #f4f7f6;
}

/* Button Group Styles */
.btn-group {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

/* Form Styles */
.form-control {
  max-width: 200px;
  padding: 5px;
  margin: 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid #cccccc;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}

/* Custom Scrollbar Styles for Webkit */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Student Info Styles */
.student-info {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.student-label {
  margin-right: 1rem;
  font-size: 16px;
  font-weight: 500;
}

.student-fields {
  display: flex;
  align-items: center;
}

.small-input {
  width: auto;
  padding: 0.5rem;
  font-size: 16px;
  font-weight: 400;
}

/* Centered Label Styles */
.centered-label {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 1rem;
}

/* Date Picker Styles */
.date-picker {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  margin-right: 1rem;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  position: relative;
}

.date-picker-wrapper {
  position: relative;
}

.date-picker-wrapper::after {
  content: "\f073";
  font-family: "FontAwesome";
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1rem;
  color: #ccc;
}

.date-picker input[type="text"] {
  cursor: pointer;
}

/* Styles for the buttons to match the teacher dashboard */
.btn-outline-secondary {
  background-color: #fff;
  color: #1e90ff;
  border-color: #1e90ff;
}

.btn-outline-secondary:hover {
  color: #fff;
  background-color: #1e90ff;
  border-color: #1e90ff;
}

.date-picker label {
  margin-bottom: 0.5rem;
}

.student-dashboard-container,
.teacher-dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Center the DatePicker */
.react-datepicker-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.react-datepicker__input-container {
  display: inline-block;
  text-align: center;
}

/* Increase the size of the DatePicker */
.react-datepicker-popper {
  z-index: 1000;
}

/* Adjust the size of the DatePicker input */
.react-datepicker__input-container input {
  width: 200px;
  padding: 0.5rem;
  font-size: 16px;
  font-weight: 400;
}

/* Adjust the size of the Due Date and Subject columns */
.table th:nth-child(2),
.table td:nth-child(2),
.table th:nth-child(3),
.table td:nth-child(3) {
  width: 15%; /* Adjust as needed */
}

/* Adjust the size of the Description column */
.table th:nth-child(4),
.table td:nth-child(4) {
  width: 40%; /* Adjust as needed */
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; /* Set to 100% of the viewport height */
  background-color: rgba(0, 0, 0, 0.6);
  overflow: auto;
}

/* Modal Content */
.modal-content {
  background-color: #ffffff;
  margin: auto;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 350px;
  text-align: center;
  max-height: 80vh; /* Set to 90% of the viewport height */
  overflow-y: auto; /* Add vertical scrollbar if content exceeds 90% of the viewport height */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Close Button */
.close {
  color: #707070;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #ff4444;
  text-decoration: none;
  cursor: pointer;
}

/* Form Group */
.modal-body .form-group {
  margin-bottom: 10px;
}

/* Labels */
.modal-body .form-label {
  display: inline-block;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 600;
  color: #333;
  text-align: left;
  vertical-align: middle; /* Center the labels vertically */
}

.greyed-out {
  background-color: #cccccc; /* Grey color */
}

/* Form Controls */
.modal-body .form-control {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

/* Center text within form fields */
.modal-body .form-control input[type="text"],
.modal-body .form-control textarea {
  text-align: center; /* Center text within the form fields */
}

/* Focused Field */
.modal-body .form-control:focus {
  border-color: #007bff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

/* Textarea */
.modal-body .form-control[type="textarea"] {
  min-height: 150px;
}

/* Buttons */
.modal-footer .btn {
  padding: 12px 24px;
  font-size: 18px;
  border-radius: 5px;
}

/* Save Button */
.modal-footer .btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  color: #fff;
}

.modal-footer .btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

/* Close Button */
.modal-footer .btn-secondary {
  background-color: #6c757d;
  border-color: #6c757d;
  color: #fff;
}

.modal-footer .btn-secondary:hover {
  background-color: #545b62;
  border-color: #545b62;
}
